# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# 模型文件
# =========================
*.pth
*.pt
*.h5

# =========================
# 数据集 / 输出
# =========================
data/
datasets/
pseudo_dataset2/
test/
output/
checkpoints/
runs/
all_result/

# =========================
# 3D / 重建相关
# =========================
colmap/
point_clouds/
*.ply

# =========================
# 训练生成
# =========================
logs/
*.log

# =========================
# 模型仓库
# =========================
model_zoo/

# =========================
# 系统文件
# =========================
.DS_Store
Thumbs.db

# =========================
# 其他（可选）
# =========================
*.zip
*.tar
*.gz
